memory {
    ZEROPAGE:   start =      $0, size =   $100;
    LORAM:      start =    $100, size =  $1E00;
    STACK:      start =   $1F00, size =   $100;
    IOREGS:     start =   $2000, size =  $4000;
    HIRAM0:     start = $7E2000, size =  $E000;
    HIRAM1:     start = $7F0000, size = $10000;

    BANK0:      start = $808000, size =  $8000, fill = yes;
    BANK1:      start = $818000, size =  $8000, fill = yes;
    BANK2:      start = $828000, size =  $8000, fill = yes;
    BANK3:      start = $838000, size =  $8000, fill = yes;
  # BANK4:      start = $848000, size =  $8000, fill = yes;
}

# unused segments are commented out due to compiler warnings
segments {
    ZEROPAGE:       load = ZEROPAGE, type = zp;
    BSSLO:          load = LORAM,    type = bss;
  # BSSHI0:         load = HIRAM0,   type = bss;
    BSSHI1:         load = HIRAM1,   type = bss;

# bank 00
    CODE:           load = BANK0,    type = ro;
    MODEVN_CODE:    load = BANK0,    type = ro;
    MODEPF_CODE:    load = BANK0,    type = ro;
    #
    HEADER:         load = BANK0,    type = ro, start = $80FFC0;
    ROMINFO:        load = BANK0,    type = ro, start = $80FFD5;
    VECTORS:        load = BANK0,    type = ro, start = $80FFE0;

# bank 01
    MODEVN_AS_CHR1: load = BANK1,    type = ro;

# bank 02
    MODEVN_AS_BG1:  load = BANK2,    type = ro;
    MODEVN_AS_UI:   load = BANK2,    type = ro;

# bank 03
    MODEPF_AS_CHAR: load = BANK3,    type = ro;
    MODEPF_AS_LV1:  load = BANK3,    type = ro;
}